[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = {extras = ["postgresql"], version = "*"}
anyio = "*"
certifi = "*"
charset-normalizer = "*"
greenlet = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
idna = "*"
playwright = "*"
pocketbase = "*"
pyee = "*"
requests = "*"
sniffio = "*"
typing-extensions = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.13"
